{% include "logoBanner.html" %}
{% extends "layout.html" %}
{% block content %}
<div class = "row col-md-12 m-5">
    <div class="col-md-6">
        <!-- TODO: Fix alignment of the cards. -->
        <div class="card m-5 text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Professor</h5>
              <i class="fas fa-chalkboard-teacher fa-3x" style="color:red"></i>
            <p class="card-text">Sign up and take quizes in class.</p>
            <a class="btn btn-primary" href="{{ url_for('professor.register') }}" role="button">Sign Up as Professor</a>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card m-5 text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Student</h5>
              <i class="fas fa-user-graduate fa-3x" style="color:blue"></i>
            <p class="card-text">Sign up and give quizes.</p>
            <a class="btn btn-primary" href="{{ url_for('student.register') }}" role="button">Sign Up as Student</a>
          </div>
        </div>
    </div>
    <div class="border-top pt-3 text-center col-md-6 offset-md-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('main.login') }}">Log In Now</a>
        </small>
    </div>
</div>

{% endblock content %}