{% include "account_banner.html" %}
{% include "professor/nav_bar.html" %}
{% extends "layout.html" %}
{% block content %}

<div class="row">

    <!--Container for listing questions-->
    <div class="col-md-2">
        {% for quiz in quiz_content_object %}
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title"><span>Quiz {{quiz.quiz_number}}&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('professor.run_quiz',course_id=course.id, quiz_id=quiz.quiz_id, question_number=1) }}"
                   class="fas fa-play" style="color:red"></a></span></h5>
          </div>
            <ul class="list-group list-group-flush">
            {% for question in quiz.questions %}
                <!--TODO: make questions collapsible-->
                <li class="list-group-item"><i class="far fa-comment"></i>
                    <a href="#" onclick='displayQuestion({{quiz.quiz_number}}, {{question.question_number}}, {{quiz_content_object[quiz.quiz_number-1]["questions"][question.question_number-1] | tojson}})'>
                        Q. {{question.question_number}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>

    <!--Container for displaying question-->
    <div class="col-md-10">
        <p id="question"></p>
    </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/courseContent.js')}}"> </script>

{% endblock content %}