{% include "accountBanner.html" %}
{% extends "layout.html" %}
{% block content %}
<div class="col-md-6 offset-md-3">
        {% include "flashMessage.html" %}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Course</legend>
                <div class="form-group">
                    {{ form.courseName.label(class="form-control-label") }}

                    {% if form.courseName.errors %}
                        {{ form.courseName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.courseName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.courseName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.courseSection.label(class="form-control-label") }}
                    {% if form.courseSection.errors %}
                        {{ form.courseSection(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.courseSection.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.courseSection(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
                </form>
            </div>
{% endblock content %}