{% include "account_banner.html" %}
{% include "student/your_course_banner.html" %}
{% extends "layout.html" %}
{% block content %}
<div class="row mt-2">
    <div>
        <a role="button" class="btn btn-primary" href="{{ url_for('course.student_join_course') }}">
            Join course <i class="fas fa-sign-in-alt"></i></a>
    </div>
</div>
<hr>
<div class="row">
    {% for student_course in student_courses %}
          <div class="card m-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{student_course.Course.course_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Join Code: {{student_course.Course.join_code}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Professor: {{student_course.Professor.first_name + " " + student_course.Professor.last_name}}</h6>
                <a href="{{ url_for('student.course_quiz',course_id=student_course.Course.id) }}"
                   role="button" class="btn btn-primary btn-sm" class="card-link">Enter Course</a>
              </div>
          </div>
    {% endfor %}
</div>
{% endblock content %}