<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
        <span class="navbar-text ml-1 mr-5">
            <div class="row">
                <strong>{{course.course_name}}</strong>
            </div>
            <div class="row">
                <small>Join Code: {{course.join_code}}</small>
            </div>
        </span>
        <ul class="navbar-nav">
            {% if active == "content" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ url_for('student.course_content',course_id=course.id) }}">Content</a>
            </li>
            {% if active == "scoreBook" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ url_for('student.course_score_book',course_id=course.id) }}">Score Book</a>
            </li>
        </ul>
    </div>
</nav>